<!DOCTYPE html>
<html lang="pt-br" ng-app>
<head>

<!--
 __   __   ______     ______     ______     __   __     __     ______     ______     ______    
/\ \ / /  /\  ___\   /\  ___\   /\  __ \   /\ "-.\ \   /\ \   /\  ___\   /\  __ \   /\  ___\   
\ \ \'/   \ \  __\   \ \ \__ \  \ \  __ \  \ \ \-.  \  \ \ \  \ \ \____  \ \ \/\ \  \ \___  \  
 \ \__|    \ \_____\  \ \_____\  \ \_\ \_\  \ \_\\"\_\  \ \_\  \ \_____\  \ \_____\  \/\_____\ 
  \/_/      \/_____/   \/_____/   \/_/\/_/   \/_/ \/_/   \/_/   \/_____/   \/_____/   \/_____/ 
-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Bruno Gonçales Lima">
<link rel="shortcut icon" href="/images/favicon.ico">

<title><%= title %></title>

<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>
<body>

	
	<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function() {
			
			var socket = io.connect(document.URL);
			
			$("#form_adicionar").on("submit", function(e){
				e.preventDefault();
				
				var item = {item: "teste"};
				
				socket.emit("adiciona-item", item);
				
				/* 
				var $item = $("#item_nome");
				if($item.val() != ""){
					socket.emit("adiciona-item", $item.val());
					$item.val("");
				}
				$item.focus(); */
			});
			
			/* socket.on("item-adicionado", function(error, item){
				console.log(item);
			}); */
			
			/* socket.on("lista-itens", function(error, itens){
				if(error){
					$("#lista").hide();
					$("#lista_error").show();
				}else{
					$("#lista_error").hide();
					$("#lista").show();
					console.log(itens);
				}
			}); */
			
		});
	</script>
</body>
</html>