<!DOCTYPE html>
<html lang="en">
<head>

<!--
 __   __   ______     ______     ______     __   __     __     ______     ______     ______    
/\ \ / /  /\  ___\   /\  ___\   /\  __ \   /\ "-.\ \   /\ \   /\  ___\   /\  __ \   /\  ___\   
\ \ \'/   \ \  __\   \ \ \__ \  \ \  __ \  \ \ \-.  \  \ \ \  \ \ \____  \ \ \/\ \  \ \___  \  
 \ \__|    \ \_____\  \ \_____\  \ \_\ \_\  \ \_\\"\_\  \ \_\  \ \_____\  \ \_____\  \/\_____\ 
  \/_/      \/_____/   \/_____/   \/_/\/_/   \/_/ \/_/   \/_/   \/_____/   \/_____/   \/_____/ 
-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Bruno Gonçales Lima">
<link rel="shortcut icon" href="/images/favicon.ico">

<!-- Web fonts -->
<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>

<title>Vegânicos</title>

<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/social.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>
<body data-spy="scroll" data-target=".main-navbar">

	<!-- navigation -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" data-scroll-nav="0">
					<img src="/images/logo.jpg" width="20" height="20" alt="Vegânicos" class="img-circle">
					Vegânicos
				</a>
			</div>
			<div class="collapse navbar-collapse main-navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#inicio" data-scroll-nav="0">Início</a></li>
					<li><a href="#encomendas" data-scroll-nav="1">Encomendas</a></li>
					<li><a href="#contato" data-scroll-nav="2">Contato</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<!-- content -->
	<div class="main">


		<!-- INICIO -->
		
		
		<section id="inicio" class="page inicio" data-scroll-index="0">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 descricao">
					
						<div class="row">
							<div class="col-sm-8 apresentacao">
								
							</div>
						
							<div class="col-sm-4">
								<section class="seja-vegano text-center">
									<img src="/images/libertacao.png" alt="Torta de legumes" class="img-circle">
									<p>Todos os nossos produtos, são livres de crueldade animal.</p>
									<a href="http://sejavegano.com.br" target="_blank" class="btn btn-info btn-lg">Conheça o veganismo</a>
								</section>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-4">
								<ul class="list-group">
									<li class="list-group-item">Tortas</li>
									<li class="list-group-item">Hortaliças orgânicas</li>
									<li class="list-group-item">Opção sem glúten</li>
									<li class="list-group-item text-center">
										<img src="/images/galeria/torta.jpg" 
											alt="Torta de legumes" width="200" height="200" 
											class="img-circle">
									</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="list-group">
									<li class="list-group-item">Recheios</li>
									<li class="list-group-item">Legumes, espinafre, escarola</li>
									<li class="list-group-item">Salsicha, linguiça, queijo</li>
									<li class="list-group-item text-center">
										<img src="/images/galeria/espinafre.jpg"
										alt="Recheio da torta de espinafre" width="200" height="200"
										class="img-circle">
									</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="list-group">
									<li class="list-group-item">Pão de queijo</li>
									<li class="list-group-item">Sem glúten</li>
									<li class="list-group-item">Pacotes com 100 unidades</li>
									<li class="list-group-item text-center">
										<img src="/images/galeria/abacaxi_espinafre.jpg"
										alt="Abacaxi para sucos e espinafre para tortas" width="200" height="200" 
										class="img-circle">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- ENCOMENDAS -->
		
		
		<section id="encomendas" class="page encomenda" data-scroll-index="1">
			<div class="container">
				
				<div class="row viabilidade-entrega">
					<div class="title-encomenda">
						<h2><img alt="Encomendas" src="/images/icon-gift.png" class="img-circle" width="100" height="100"> Encomendas</h2>
					</div>
					
					<div class="col-sm-10">
						<input type="text" class="form-control input-lg text-center" id="cep" placeholder="Digite seu cep">
						<span class="help-block">Precisamos saber sua localização para verificar a viabilidade de entrega.</span>
					</div>
					<div class="col-sm-2">
						<button id="consulta_cep" type="button" class="btn btn-default btn-lg">
							<span class="glyphicon glyphicon-search"> Pesquisar</span>
						</button>
					</div>
					
					<div class="col-sm-12 box-map text-center">
						<div class="alert" id="status-pesquisa-cep"></div>
						<div class="map"><div id="map_canvas"></div></div>
					</div>
					
				</div>
				<div class="row formulario-encomenda">
					<form class="hide form-horizontal" role="form">
						
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
					
						<div class="form-group">
							<label for="produto_encomenda" class="col-sm-2 control-label">Encomenda</label>
							<div class="col-sm-10">
								<select id="produto_encomenda" class="form-control">
									<option>Torta de legumes</option>
									<option>Torta de espinafre</option>
									<option>Torta de escarola</option>
									<option>Pão-sem-queijo (Pão de queijo vegano)</option>
									<option>Cupcake de chocolate</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="quantidade" placeholder="Quantidade" value="1">
							</div>
						</div>
						
						<div class="form-group">
							<label for="quantidade" class="col-sm-2 control-label">Pedido</label>
							<div class="col-sm-10">
							</div>
						</div>
						
						<div class="form-group">
							<label for="mensagem" class="col-sm-2 control-label">Mensagem</label>
							<div class="col-sm-10">
								<textarea id="mensagem" class="form-control" rows="3"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-12">
								<button type="submit" class="btn btn-primary btn-lg">Encomendar</button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</section>


		<!-- CONTATO -->


		<section id="contato" class="page contato" data-scroll-index="2">
			<div class="container">
				<div class="row">
				
					<div class="row contato">
					
						<div class="col-sm-8 form-contato">
						
							<div class="col-sm-offset-2 col-sm-12">
								<h4>Mande-nos uma mensagem</h4>
							</div>
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="contato_email" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" id="contato_email" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<label for="contato_assunto" class="col-sm-2 control-label">Assunto</label>
									<div class="col-sm-10">
										<select class="form-control" id="contato_assunto">
											<option value="">Assunto</option>
											<option value="sugestao">Sugestão</option>
											<option value="evento">Evento</option>
											<option value="encomendas_fora">Encomendas fora de Guarulhos</option>
											<option value="outros">Outros</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="contato_mensagem" class="col-sm-2 control-label">Mensagem</label>
									<div class="col-sm-10">
										<textarea id="contato_mensagem" class="form-control" rows="3"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-12">
										<button type="submit" class="btn btn-default">
											<span class="glyphicon glyphicon-send"> Enviar
										</button>
									</div>
								</div>
							</form>

						</div>
						<div class="col-sm-4 social">
							<div class="fb-like-box"
								data-href="http://www.facebook.com/veganicos"
								data-colorscheme="light" data-show-faces="true"
								data-header="false" data-stream="false" data-show-border="false"></div>
						</div>
						
					</div>
					
				</div>
			</div>
		</section>
		
		
		<!-- RODAPE -->
		
		
		<section class="rodape">
			<div class="container">
				<div class="footer">
					<div class="col-sm-4">
						<h4>CONTATO</h4>
						<ul class="list-unstyled">
							<li>Oi - (11) 9 6956 0572 - Ingridhy</li>
							<li>Oi - (11) 9 6878 2104 - Bruno</li>
						</ul>
						<p>
							Não temos um local fixo, nossos produtos são preparados nas nossas casas
							com muito amor, carinho e risadas.
						</p>
					</div>
					<div class="col-sm-4">
						<h4>AMIGOS E FAMÍLIA</h4>
						<p>Os vegânicos são Bruno Gonçales e Ingridhy Borges.</p>
						<p>Um obrigado especial para Filipe Marini e Lais Trajano, que sempre nos ajudam.</p>
					</div>
					<div class="col-sm-4">
						<h4>LEGAL</h4>
						<p>Coryright &copy; <span class="year"></span> Vegânicos<br/>Todos direitos reservados</p>
						<p>Desenvolvido e desenhado por <a href="http://facebook.com/bglbruno" target="_blank">Bruno Gonçales</a></p>
					</div>
					
				</div>
			</div>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.scroll.it.js"></script>
	<script src="/javascripts/jquery.masked.input.js"></script>
	<script src="/javascripts/maps.js"></script>
	<div id="fb-root"></div>
	<script>
		$(function() {
			$.scrollIt();
			var d = new Date();
			$("span.year").html(d.getFullYear());
			
			$("#cep").on("keyup", function(e){
				if(event.which == 13){
					e.preventDefault();
					$("#consulta_cep").trigger("click");
				}
				if( $(this).val() == "" ){
					$("#status-pesquisa-cep").html("").attr("class","alert");
				}
			});
			
			$("#consulta_cep").on("click", function(e){
				if($("#cep").val() != ""){
					$("#status-pesquisa-cep").html("Pesquisando seu cep...");
					var url = "http://maps.googleapis.com/maps/api/geocode/json?components=country:BR|postal_code:" + $("#cep").val() + "&sensor=false";
					$.getJSON( url, function( data ) {
						if(data.status == "OK"){
							var cidade = data.results[0].address_components[1].long_name;
							var lat = data.results[0].geometry.location.lat;
							var lon = data.results[0].geometry.location.lng;
							updateMap(lat, lon);
							
							if(cidade.toLowerCase() == "guarulhos"){
								$("#status-pesquisa-cep").html("Cep de Guarulhos :)").addClass("alert-success");
							}else{
								$("#status-pesquisa-cep").html("Esse cep não é de Guarulhos :(").addClass("alert-warning");
							}
							
						}else{
							$("#status-pesquisa-cep").html("Cep inválido. Tente novamente.").addClass("alert-danger");
						}
					});
				}else{
					$("#cep").focus();
				}
			});
			
			$("#cep").mask("99999-999");
		});
		
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=182640751942986";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>

