body {font-family: Verdana, Geneva, sans-serif; color: #5a5a5a;}
a{color: #7799ff;}
section.page{margin: 0;padding: 150px 0;}
section.page:last-child{padding-bottom: 0;margin-bottom: 0;}

/* INICIO */

section.page.inicio{padding-top: 80px; background-color: #ffc273}
section.page.inicio .descricao{
	
}
section.page.inicio .descricao .jumbotron{
	background-color: #ffd196;
}
section.page.inicio .descricao section.apresentacao{
	color: #a66e25;
	margin: 70px 0;
}
section.page.inicio .descricao section.apresentacao p{
	font-size: 1.5em;
}

section.page.inicio .descricao section.apresentacao h2{
	font-size: 6em;
	margin: 0;
}
@media screen and (max-width: 768px) {
	section.page.inicio .descricao section.apresentacao p{
		text-align: center;
		margin-top: 20px;
	}
	section.page.inicio .descricao section.apresentacao h2{
		font-size: 3em;
		text-align: center;
	}	
}
section.page.inicio .descricao .opcoes-encomendas{
	padding: 50px 0;
}
section.page.inicio .descricao .opcoes-encomendas div{
	padding: 30px 0;
}

/* ENCOMENDA */

section.page.encomenda{
	background-color: #5477a8;
}
section.page.encomenda div.title-encomenda{
	padding-bottom: 20px;
	overflow: hidden;
}
section.page.encomenda div.title-encomenda h2{
	font-family: 'The Girl Next Door', cursive;
	color: #fff;
	font-size: 7em;
	margin: 0;
}
@media screen and (max-width: 768px) {
	section.page.encomenda div.title-encomenda h2{
		padding-top: 20px;
		font-size: 3em;
		text-align: center;
	}	
}
section.page.encomenda div.title-encomenda img{
	border: 1px solid #fff;
	padding: 10px;
	margin: 0 auto;
}

section.page.encomenda .cardapio{padding: 40px;font-size: 1.4em;}

section.page.encomenda .cardapio.sabores{background-color: #99b2d3;color: #1b3e6d;margin-top: 30px;}
section.page.encomenda .cardapio.sabores h3{margin-bottom: 30px;}
section.page.encomenda .cardapio.sabores p{padding-top: 20px;}
section.page.encomenda .cardapio.sabores dl dt{overflow: visible;}
section.page.encomenda .cardapio.sabores dl dd{margin-bottom: 30px;}
section.page.encomenda .cardapio.sabores dl dd:LAST-CHILD{margin-bottom: 0;}

section.page.encomenda .cardapio.opcoes{background-color: #4f627e;color: #fff;}
section.page.encomenda span{color: #fff; display: block; margin-top: 20px;}

section.page.encomenda .girassol-mandala{
	padding-top: 100px;
}
/* CONTATO */

section.page.contato{background-color: #4aa391; color: #186a5a}
section.page.contato div.social{overflow: hidden;}
section.page.contato .row.contato{
	background-color: #7bd1c0;
	padding: 40px 0;
}
section.page.contato .row.contato div.form-contato h4{ 
	font-weight: 900;
	margin-bottom: 40px; 
}
/* RODAPE */

section.rodape{
	background-color: #333;
	color: #eee;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 40px;
}
section.rodape div.footer div{
	margin-bottom: 40px;
}
section.rodape div.footer div.infos div{
	padding: 10px;
	padding-left: 20px;
}
section.rodape div.footer div.infos div h4{
	font-weight: 900;
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: 20px;
}
section.rodape div.footer div.veganismo div{
	height: 200px;
	line-height: 200px;
}